[submodule "HT-Biology_2017"]
	path = HT-Biology_2017
	url = https://github.com/bioinformaticsdotca/HT-Biology_2017.git
[submodule "AWS_stuff"]
	path = AWS_stuff
	url = https://github.com/bioinformaticsdotca/AWS_stuff.git
[submodule "Genomic_Epi_2017"]
	path = Genomic_Epi_2017
	url = https://github.com/bioinformaticsdotca/Genomic_Epi_2017.git
[submodule "Genomic_Med_2017"]
	path = Genomic_Med_2017
	url = https://github.com/bioinformaticsdotca/Genomic_Med_2017.git
[submodule "HTSeq_2017"]
	path = HTSeq_2017
	url = https://github.com/bioinformaticsdotca/HTSeq_2017.git
[submodule "BiCG_2017"]
	path = BiCG_2017
	url = https://github.com/bioinformaticsdotca/BiCG_2017.git
[submodule "Metabolomics_2017"]
	path = Metabolomics_2017
	url = https://github.com/bioinformaticsdotca/Metabolomics_2017.git
[submodule "IntroR_2017"]
	path = IntroR_2017
	url = https://github.com/bioinformaticsdotca/IntroR_2017.git
[submodule "EDA_2017"]
	path = EDA_2017
	url = https://github.com/bioinformaticsdotca/EDA_2017.git
[submodule "Epigenomics_2017"]
	path = Epigenomics_2017
	url = https://github.com/bioinformaticsdotca/Epigenomics_2017.git
[submodule "Microbiome_2017"]
	path = Microbiome_2017
	url = https://github.com/bioinformaticsdotca/Microbiome_2017.git
[submodule "Pathways_2017"]
	path = Pathways_2017
	url = https://github.com/bioinformaticsdotca/Pathways_2017.git
[submodule "CloudComp_2017"]
	path = CloudComp_2017
	url = https://github.com/bioinformaticsdotca/CloudComp_2017.git
[submodule "RNASeq_2017"]
	path = RNASeq_2017
	url = https://github.com/bioinformaticsdotca/RNASeq_2017.git
	
[submodule "10_Simple_Rules"]
	path = 10_Simple_Rules
	url = https://github.com/bioinformaticsdotca/10_Simple_Rules.git
[submodule "Epigenomics_2018"]
	path = Epigenomics_2018
	url = https://github.com/bioinformaticsdotca/Epigenomics_2018.git
[submodule "GenEpi_2018"]
	path = GenEpi_2018
	url = https://github.com/bioinformaticsdotca/GenEpi_2018.git
[submodule "GenMed_2018"]
	path = GenMed_2018
	url = https://github.com/bioinformaticsdotca/GenMed_2018.git
[submodule "HTseq_2018"]
	path = HTseq_2018
	url = https://github.com/bioinformaticsdotca/HTseq_2018.git
[submodule "Metabolomics_2018"]
	path = Metabolomics_2018
	url = https://github.com/bioinformaticsdotca/Metabolomics_2018.git
[submodule "Metagenomics_2018"]
	path = Metagenomics_2018
	url = https://github.com/bioinformaticsdotca/Metagenomics_2018.git
[submodule "Pathways_2018"]
	path = Pathways_2018
	url = https://github.com/bioinformaticsdotca/Pathways_2018.git
[submodule "RNAseq_2018"]
	path = RNAseq_2018
	url = https://github.com/bioinformaticsdotca/RNAseq_2018.git
[submodule "BiCG_2018"]
	path = BiCG_2018
	url = https://github.com/bioinformaticsdotca/BiCG_2018.git
[submodule "IntroR_2018"]
	path = IntroR_2018
	url = https://github.com/bioinformaticsdotca/IntroR_2018.git
[submodule "EDA_2018"]
	path = EDA_2018
	url = https://github.com/bioinformaticsdotca/EDA_2018.git
[submodule "Travel_logistics"]
	path = Travel_logistics
	url = https://github.com/bioinformaticsdotca/travel_logistics.git
[submodule "GOBLET2018"]
	path = GOBLET2018
	url = https://github.com/bioinformaticsdotca/GOBLET2018.git
[submodule "CSHL_2019"]
	path = CSHL_2019
	url = https://github.com/bioinformaticsdotca/CSHL_2019.git
[submodule "IntroR_2019"]
	path = IntroR_2019
	url = https://github.com/bioinformaticsdotca/IntroR_2019.git
[submodule "EDA_2019"]
	path = EDA_2019
	url = https://github.com/bioinformaticsdotca/EDA_2019.git
[submodule "BiCG_2019"]
	path = BiCG_2019
	url = https://github.com/bioinformaticsdotca/BiCG_2019.git
[submodule "RNAseq_2019"]
	path = RNAseq_2019
	url = https://github.com/bioinformaticsdotca/RNAseq_2019.git
[submodule "Pathways_2019"]
	path = Pathways_2019
	url = https://github.com/bioinformaticsdotca/Pathways_2019.git
[submodule "HTseq_2019"]
	path = HTseq_2019
	url = https://github.com/bioinformaticsdotca/HTseq_2019.git
[submodule "Cloud_2019"]
	path = Cloud_2019
	url = https://github.com/bioinformaticsdotca/Cloud_2019.git
[submodule "IntroR_2020"]
	path = IntroR_2020
	url = https://github.com/bioinformatics-ca/IntroR_2020.git
[submodule "EDA_2020"]
	path = EDA_2020
	url = https://github.com/bioinformatics-ca/EDA_2020.git
[submodule "Metabolomics_2020"]
	path = Metabolomics_2020
	url = https://github.com/bioinformatics-ca/Metabolomics_2020.git
[submodule "RNAseq_2020"]
	path = RNAseq_2020
	url = https://github.com/bioinformatics-ca/RNAseq_2020.git
[submodule "HTseq_2020"]
	path = HTseq_2020
	url = https://github.com/bioinformatics-ca/HTseq_2020.git
[submodule "Pathways_2020"]
	path = Pathways_2020
	url = https://github.com/bioinformatics-ca/Pathways_2020.git
[submodule "ML_2020"]
	path = ML_2020
	url = https://github.com/bioinformatics-ca/ML_2020.git
[submodule "Epigenomics_2020"]
	path = Epigenomics_2020
	url = https://github.com/bioinformatics-ca/Epigenomics_2020.git
[submodule "PNA_2021"]
	path = PNA_2021
	url = https://github.com/bioinformatics-ca/PNA_2021.git
[submodule "MLE_2021"]
	path = MLE_2021
	url = https://github.com/bioinformatics-ca/MLE_2021.git
[submodule "CAN_2021"]
	path = CAN_2021
	url = https://github.com/bioinformatics-ca/CAN_2021.git
[submodule "AWS_2021"]
	path = AWS_2021
	url = https://github.com/bioinformatics-ca/AWS_2021
