		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
  
  	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<div>
					<header id="header" class="alt">
						<img src="{{ page.image }}" alt="" width="200" height="200" />
						<span><h4>{{ page.header1 }}</h4></span>
					</header>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="https://bioinformaticsdotca.github.io/" class="active">Home</a></li>
							<li><a href="#welcome">Welcome</a></li>
							<li><a href="#preworkshop">Pre-workshop Materials</a></li>
							<li><a href="#day1">Day 1</a></li>
							<li><a href="#day2">Day 2</a></li>
              <li><a href="#day3">Day 3</a></li>
              <li><a href="#day4">Day 4</a></li>
              <li><a href="#day5">Day 5</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						
						<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{ page.header2 }}</h2>
										</header>
										{{ content }}
									</div>
									
								</div>
							</section>
				</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2><font color="grey">Contact Us</font></h2>
							<dl class="alt">
								<dt><font color="grey">Email</font></dt>
								<dd><font color="grey">course_info{at}bioinformatics{dot}ca</font></dd>
